.row
.col-lg-6.col-md-6
  %h2{style:"color:#5f3d72"} Shopkeeper tools

.row.top-buffer
.col-lg-6.col-md-6
  %p Welcome to the shopkeeper console.
  %p You may do the following tasks here:
  %ul
    %li
      %a(href="/cards/new") Upload a card
    %li
      %a(href="/vendor/verify")Validate a card
