<div class="row">
  <div class="col-xs-12 text-center">
    <h3>Admin tools</h3>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-xs-12 col-md-12 col-lg-12 text-center">
    <p>Welcome to the admin console.You may do the following tasks here:</p>
    <div class="container col-xs-12 col-md-6 col-lg-6">
    	<h4> Card Management </h4>
    	<a href="/cards/new" type="button" class="btn btn-success btn-purple btn-lg btn-block">Upload a card</a>
    	<a href="/vendor/verify" type="button" class="btn btn-success btn-purple btn-lg btn-block">Validate cards</a>
    	<a href="/admin/transfers" type="button" class="btn btn-success btn-purple btn-lg btn-block">View All card transfers</a>
    	<a href="/admin/graveyard" type="button" class="btn btn-success btn-purple btn-lg btn-block">View All deleted cards</a>
    </div>
    <div class="container col-xs-12 col-md-6 col-lg-6">
    	<h4> User Management </h4>
    	<a href="/admin/users" type="button" class="btn btn-success btn-purple btn-lg btn-block">User list</a>
    	<a href="/admin/generateinvite" type="button" class="btn btn-success btn-purple btn-lg btn-block">Generate Invite Code</a>
    </div>
  </div>
</div>