<div class="container">
  <div class="col-xs-12 text-center">
    <h3>Admin Tools</h3>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <% if @experts.count > 0 %>
      <%= will_paginate @experts %>
      <ul>
        <% @experts.each do |user| %>

          <div class="panel panel-default panel-expert">
            <div class="panel-heading" role="tab" id="headingOne">
              <h3 class="panel-title">
                  Testing
              </h3>
            </div>
              <div class="panel-body">
                <div class="col-xs-6">
                <h4>Contact</h4>
                <p>
                  contact info
                </p>
                </div>
                <div class="col-xs-6">
                <h4>Location</h4>
                <p>
                  location
                </p>
                </div>
              </div>
          </div>       
        <% end %>
      </ul>
    <% else %>
      <p>No Experts found</p>
    <% end %>
  </div>
</div>



