.top-buffer-3
	.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
		%p.h4 Do not hesitate to contact us for any question or feedback, we will do our best to answer fast!
		.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
			/ %button.btn.btn-success.btn-purple email info@vaultarch.com
			=mail_to "info@vaultarch.com", "email info@vaultarch.com", class: "btn btn-success btn-purple"

.top-buffer-4
	.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
		%p.h4 As a fast growing Startup, we are recruiting. 
		%p.h4 Current focus is on Imaging Technology (open CV), but we will welcome any spontaneous application.
		%p.h4 Please send a Resume as well as Cover Letter indicating for which type of role you are applying, and we will come back to you.
		.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
			=mail_to "people@vaultarch.com", "email people@vaultarch.com", class: "btn btn-success btn-purple"