<!DOCTYPE html>
	

	<div class="col-lg-3 col-md-4 col-sm-12" >
		<h3>
	        <a id="FAQ">
	          FAQ
	        </a>
	    </h3>
	</div>


	<div class="col-lg-9 col-md-8 col-sm-12" >
	 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFAQOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFAQOne" aria-expanded="false" aria-controls="collapseFAQOne">
	          Collapsible Group Item #1
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFAQOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQOne">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFAQTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFAQTwo" aria-expanded="false" aria-controls="collapseFAQTwo">
	          Collapsible Group Item #2
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFAQTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQTwo">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFAQThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFAQThree" aria-expanded="false" aria-controls="collapseFAQThree">
	          Collapsible Group Item #3
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFAQThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQThree">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>

    <div class="buffer-1 col-lg-12 col-md-12 col-sm-12"></div>


	<div class="col-lg-3 col-md-4 col-sm-12" >
		<h3>
	        <a id="Legal">
	          Legal
	        </a>
	    </h3>
	</div>


	<div class="col-lg-9 col-md-8 col-sm-12" >
	 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingLegalOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLegalOne" aria-expanded="false" aria-controls="collapseLegalOne">
	          Collapsible Group Item #1
	        </a>
	      </h4>
	    </div>
	    <div id="collapseLegalOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLegalOne">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingLegalTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLegalTwo" aria-expanded="false" aria-controls="collapseLegalTwo">
	          Collapsible Group Item #2
	        </a>
	      </h4>
	    </div>
	    <div id="collapseLegalTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLegalTwo">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingLegalThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLegalThree" aria-expanded="false" aria-controls="collapseLegalThree">
	          Collapsible Group Item #3
	        </a>
	      </h4>
	    </div>
	    <div id="collapseLegalThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLegalThree">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>
 

   <div class="buffer-1 col-lg-12 col-md-12 col-sm-12"></div>

   <div class="col-lg-3 col-md-4 col-sm-12" >
		<h3>
	        <a id="Contact">
	          Contact
	        </a>
	    </h3>
   </div>


	<div class="col-lg-9 col-md-8 col-sm-12" >
	 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingContactOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseContactOne" aria-expanded="true" aria-controls="collapseContactOne">
	          If you want any enquiry
	        </a>
	      </h4>
	    </div>
	    <div id="collapseContactOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingContactOne">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingContactTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseContactTwo" aria-expanded="false" aria-controls="collapseContactTwo">
	          If it is a technical issue
	        </a>
	      </h4>
	    </div>
	    <div id="collapseContactTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingContactTwo">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingContactThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseContactThree" aria-expanded="false" aria-controls="collapseContactThree">
	          If you are just looking for the Newsletter or the Blog
	        </a>
	      </h4>
	    </div>
	    <div id="collapseContactThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingContactThree">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>

    <div class="buffer-1 col-lg-12 col-md-12 col-sm-12"></div>

    <div class="col-lg-3 col-md-4 col-sm-12" >
		<h3>
	        <a id="Careers">
	          Careers
	        </a>
	    </h3>
    </div>


	<div class="col-lg-9 col-md-8 col-sm-12" >
	 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingCareersOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCareersOne" aria-expanded="false" aria-controls="collapseCareersOne">
	          Imaging Programming
	        </a>
	      </h4>
	    </div>
	    <div id="collapseCareersOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCareersOne">
	      <div class="panel-body">
	        We love images, send a CV.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingCareersTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCareersTwo" aria-expanded="false" aria-controls="collapseTCareerswo">
	          Card Tester
	        </a>
	      </h4>
	    </div>
	    <div id="collapseCareersTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCareersTwo">
	      <div class="panel-body">
	        Super cool...
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingCareersThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCareersThree" aria-expanded="false" aria-controls="collapseCareersThree">
	          Collapsible Group Item #3
	        </a>
	      </h4>
	    </div>
	    <div id="collapseCareersThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCareersThree">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>

    <div class="top-buffer-3 col-lg-12 col-md-12 col-sm-12"></div>


<!--
.top-buffer-3
	.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
		%p.h4 Do not hesitate to contact us for any question or feedback, we will do our best to answer fast!
		.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
			/ %button.btn.btn-success.btn-purple email info@vaultarch.com
			=mail_to "info@vaultarch.com", "email info@vaultarch.com", class: "btn btn-success btn-purple"

.top-buffer-4
	.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
		%p.h4 As a fast growing Startup, we are recruiting. 
		%p.h4 Current focus is on Imaging Technology (open CV), but we will welcome any spontaneous application.
		%p.h4 Please send a Resume as well as Cover Letter indicating for which type of role you are applying, and we will come back to you.
		.col-lg-6.col-lg-offset-3.col-md-12.col-sm-12.text-center
			=mail_to "people@vaultarch.com", "email people@vaultarch.com", class: "btn btn-success btn-purple"

-->