<section class="cd-faq">
  <ul class="cd-faq-categories">
    <li><a class="selected" href="#basics">Product Description</a></li>
    <!--
    <li><a href="#image">Image</a></li>
    <li><a href="#settings">Settings</a></li>
    <li><a href="#payments">Payments</a></li>
    <li><a href="#privacy">Privacy</a></li>
  -->
  </ul> <!-- cd-faq-categories -->

  <div class="cd-faq-items">
    <ul id="basics" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Product Description</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">What is Vaultarch?</a>
        <div class="cd-faq-content">
          <p>Vaultarch is a secure service for card collectors and players to protect against counterfeiting, theft and loss by registering images of their most valuable cards.</p>

          <p>Access is available by website on every web browser, and is tailored to offer a great viewing experience and functionality on modern mobile phones.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Why should card collectors register their top cards?</a>
        <div class="cd-faq-content">
          <p>Increasingly realistic forged cards have been emerging in the last few years. Even if you never buy any counterfeits, your collection may still lose value. The consensus is that today’s counterfeits can be identified by experts, but the forgeries of the future may be much more challenging to detect. So how will you prove in future years that the cards you have today are genuine?</p>

          <p>Registering in Vaultarch<br>
          a card’s images, <br>
          your identity, and generating automated <br>
          timestamps, <br>
          will protect your card from being accused of being a future forgery.</p>

          <p>The sooner you take action the better. The clock is ticking.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">What can I do once my cards are stored in Vaultarch?</a>
        <div class="cd-faq-content">
          <p>First you can relax: your valuable cards are documented securely and persistently in the data store, associated with your identity, and a timestamp. Other users cannot see your cards or profile.</p>

          <p>Secondly, you can add more information to your card history over time. You can detail the source of the card, including images of sales receipts etc. You can add more refined images of the cards, or, if the condition of the card changes, through damage or alter, you can add new images.</p>

          <p>Thirdly, if you want to sell your card, you can show the physical card, and a prospective buyer to bring up the picture on his own phone. He can then compare the high resolution image with his your card to know that this card has transfer its ownership with Vaultech to some other member, when you the new owner will also get all the timestamps as proof of provenance, facilitating the sale or exchange.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">How does it help me?</a>
        <div class="cd-faq-content">
          <p>When you want to sell or exchange a card, open your Vaultarch on your mobile.

          <p>The future owner can compare the Card in the system with the physical one and see it is the same. You can show him the history of the card and timestamps to add a level of trust and security.</p>

          <p>When the physical Card is exchanged, you can transfer the ownership, so that the new owner has it in his/her Vaultarch.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Why is having a record important?</a>
        <div class="cd-faq-content">
           <p>Imagine you want to insure your Cards, or if they get stolen.</p>

          <p>Having a record of the Cards, all in your Vaultarch, with authentic timestamps becomes paramount in proving you owned them in the first place and estimating the amount of your loss.</p>

          <p>We are working with insurance companies on how to provide a way to fully secure you in this scenario.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">How do I record my cards?</a>
        <div class="cd-faq-content">
          <p>Take your mobile phone out, log into your Vaultarch, and take photos of the card fronts and backs and entering their Name and additional information. Images can also be uploaded from your PC or Mac.</p>

          </p>We are working on image recognition technologies to make it faster and allow bulk entries, but it takes a bit of time to get it right, so you may have to wait a bit to try that.</p>

          </p>So for now, if needed, we can help you to physically meet and enter your cards in your Vaultarch if you live in Hong Kong, contact us.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">How do I know all Cards are genuine?</a>
        <div class="cd-faq-content">
          <p>Vaultarch is a security portal by the community and for the community, adding a layer of technology stamps, we cannot check if cards are genuine nor ensure it.</p>

          <p>However, we have set up a process with Specialists allowing them to check the genuine nature of your cards in the physical world, and Validate in the system that they are not forgeries, ensuring a healthy community.</p>

          <p>Specialists are Card Store owners or experienced Staff and Prominent Collectors.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">This looks amazing, how much?</a>
        <div class="cd-faq-content">
          <p>We are starting the service on a subscription basis (details yet to be finalized)!</p>

          <p>Also, as it is a community service, referring your friends and contacts to use Vaultarch will grant you bonuses!</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Perfect, where do I start?</a>
        <div class="cd-faq-content">
          <p>Go to our website: www.vaultarch.com

          <p>Sign up and you are good to go!</p>

          <p>You can also subscribe to our newsletter to be the first to hear key news. We promise never to spam you.</p>
        </div> <!-- cd-faq-content -->
      </li>
    </ul> <!-- cd-faq-group -->


  <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

<%= javascript_include_tag "jquery-2.1.1" %>
<%= javascript_include_tag "jquery.mobile.custom.min" %>
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "modernizr" %>
