.row.row-offcanvas.row-offcanvas-right
  %p.pull-right.visible-xs
    %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
  .jumbotron
    .col-sm-6.col-md-6.col-xs-12.image-container
      =image_tag "Logo.png"
    .col-sm-6.col-md-6.col-xs-12
      %h1 Vaultron
      %p Secure the value of your collection cards!
  / /span
/ /row
%hr/