.row.row-offcanvas.row-offcanvas-right
  %p.pull-right.visible-xs
    %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
  .jumbotron
    .col-sm-6
      %h1 Vaultron
      %p Secure the value of your collection cards!
    .col-sm-6
      =image_tag('background_copy.png', width: "400")
    %a
      =link_to "Sign Up", logup_path, class: 'btn btn-primary btn-lg btn-landing'
%br
%br
.row
  .col-lg-4
    %h2 Casual 
    %p Store up to 10 cards
    %p Secure a few valuable cards of your collection
    %h4 5 USD / Annual
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
  .col-lg-4
    %h2 Regular
    %p Store up to 100 cards
    %p Secure most of the valuable cards of your collection
    %h4 20 USD / Annual
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
  .col-lg-4
    %h2 Power
    %p Store up to 100+ cards
    %p Secure all your valuable cards of your collection
    %h4 50 USD / Annual
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
%hr/