.row.row-offcanvas.row-offcanvas-right
  %p.pull-right.visible-xs
    %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
  .jumbotron
    .col-sm-6
      %h1 Vaultron
      %p Secure the value of your collectible cards!
    .col-sm-6
      =image_tag('background_copy.png', width: "400")
    %a
      <a class="btn btn-primary btn-lg btn-landing" href="#" onclick="alert('Wow! You are enthusiastic! Technically we just finished an awesome 54 hours weekend and need to tweak the backend. Stay tuned!'); ">Sign Up</a>
%br
%br
.row
  .col-lg-4
    %h2 Casual "Be Gentle I'm a newbie"
    %p Store up to 10 cards
    %p Secure a few valuable cards of your collection
    %h4 Pricing: Stay Tuned!
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
  .col-lg-4
    %h2 Regular Gamer
    %p Store up to 100 cards
    %p Secure most of the valuable cards of your collection
    %h4 Pricing: Stay Tuned!
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
  .col-lg-4
    %h2 Power "I live, eat and breathe this"
    %p Store up to 100+ cards
    %p Secure all your valuable cards of your collection
    %h4 Pricing: Stay Tuned!
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
%hr/
