.row.row-offcanvas.row-offcanvas-right
  %p.pull-right.visible-xs
    %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
  .jumbotron
    %h1 Vaultron
    %p Secure the value of your collection cards!
    %p
      %a.btn.btn-primary.btn-lg.btn-landing{ href: "#", role: "button"} Sign Up &raquo;
%br
%br
.row
  .col-lg-4
    %h2 Casual 
    %p Store up to 10 cards
    %br
    %h4 Free
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
  .col-lg-4
    %h2 Regular
    %p Store up to 100 cards
    %br
    %h4 20 USD / Annual
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
  .col-lg-4
    %h2 Power
    %p Store up to 100+ cards
    %br
    %h4 50 USD / Annual
    %p
      %a.btn.btn-primary.btn-landing{:href => "#", :role => "button"} View details &raquo;
%hr/