<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Vaultarch</h1>
                        <h3>Finally a secure service for card collectors and players to protect against counterfeiting, theft and loss by registering images of their most valuable cards.</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Protect your cards today</h2>
                    <p class="lead">
                        By loading images of your cards into your Vault, you secure them today against future high quality counterfeits, and start the history of your cards. <br>
                        In the future, when purchasing or trading a card, you will also get or give the digital history record of the card, proving that it existed before undetectable counterfeits, and therefore guarantying its value and genuinity.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Protect your cards today</h2>
                    <p class="lead">
                        By loading images of your cards into your Vault, you secure them today against future high quality counterfeits, and start the history of your cards. <br>
                        In the future, when purchasing or trading a card, you will also get or give the digital history record of the card, proving that it existed before undetectable counterfeits, and therefore guarantying its value and genuinity.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Protect your cards today</h2>
                    <p class="lead">
                        By loading images of your cards into your Vault, you secure them today against future high quality counterfeits, and start the history of your cards. <br>
                        In the future, when purchasing or trading a card, you will also get or give the digital history record of the card, proving that it existed before undetectable counterfeits, and therefore guarantying its value and genuinity.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->