<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Vaultarch</h1>
                        <h4>Finally a secure service for card collectors and players to protect against counterfeiting, theft and loss by registering images of their most valuable cards.</h4>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Protect your cards today</h3>
                    <p class="lead">
                        By loading images of your cards into your Vault, you secure them today against future high quality counterfeits. <br><br>
                        In the future, when purchasing or trading a card, you will also get or give the digital history record of the card, proving that it existed before undetectable counterfeits, and therefore guarantying its value and genuinity.<br><br>
                        The clock is ticking, take action today and guarantee the future value of your cards.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Build card history</h3>
                    <p class="lead">
                        Once a card is registered, modifications as well as ownership changes are registered in the system, building a traceability of the card origin.<br><br>
                        These records help build confidence and security in the community.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Ask Experts to check if some cards are counterfeits</h3>
                    <p class="lead">
                        We have built an additional community check system, in which you can try to contact Experts to check either the real card or sometimes HD pictures of it and try to detect counterfeits. <br><br>
                        Having an Expert validation of your cards does not fully guarantee they are genuine, but adds a layer of trust and protection of your assets.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-c -->

    <div class="content-section-d">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Insure your cards</h3>
                    <p class="lead">
                        We are working on allowing users to ensure the content of their Vault against theft or destruction. This would protect collectors or players when valuables are lost or destroyed, assessing of the previous ownership. <br><br>
                        This service is not operational yet, stay tuned!
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-d -->
    
    

    <div class="content-section-e">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">More Information</h3>
                    <p class="lead">
                        We are currently in Closed Beta phase, with only a certain number of invite codes activated. <br><br>
                        You can get an invite code by contacting us or if a user of the service transfers you ownership of a card.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    

                    <a href="/contact_careers" type="button" class="btn btn-success btn-purple btn-lg btn-block">Info page</a>
                    <a href="mailto:info@vaultarch.com" type="button" class="btn btn-success btn-purple btn-lg btn-block">Send us an E-mail</a>
                    <a href="http://eepurl.com/bRly3f" target="_blank" type="button"  class="btn btn-success btn-purple btn-lg btn-block">Subscribe to the Newsletter</a>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-c -->
    <div class="top-buffer-4 col-lg-12 col-md-12 col-sm-12"></div>
    
