
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="intro-message">
                        <h1>Vaultarch</h1>
                        <div class="spacebox70"> </div>
                        <h3>Finally, a secure service for card collectors and players to protect against counterfeiting, theft and fraud by registering images of their most valuable cards!</h3>
                    </div>
                        <div class="spacebox80"> </div>
                       
                       <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                            <a href="#knowmore" type="button" class="btn btn-success btn-purple btn-lg btn-block">Wait. What?</a>
                            <a href="/register" type="button" class="btn btn-success btn-purple btn-lg btn-block">Signup Now!</a>
                      </div>    
                </div>
            </div>
        </div>
    </div>
    <div id="knowmore" class="spacebox70"> </div>
 
    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Protect your cards today</h3>
                    <p class="lead">
                        Counterfeits are getting better every year. But you can protect yourself against future counterfeits, by logging images of your valuable cards into the Vaultarch secure database today. <br><br>
                        Load high-definition mobile phone or camera images of your valuable cards into Vaultarch today. Then if you want to sell or trade them in the future, you can have the histories to prove that these particular cards existed today.<br><br>
                        When you hand over a card to its new owner, you can also hand over to them the digital history of the card, including its new ownership details. So the new owner will have the same protection that you did.<br><br>
                        Take action today and lock in the future value of your cards.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="spacebox70"> </div>
                    <%= image_tag("landing1.png", :alt => "rss feed", class: "img-responsive") %>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Build card provenance</h3>
                    <p class="lead">
                        "Provenance": a record of ownership of a work of art or an antique, used as a guide to authenticity or quality.<br><br>
                        Once a card is registered, additional data can be added (e.g. descriptions of how the card was acquired, the card was sourced, original sales receipts, new images, etc).
                        This builds a picture of historical card ownership.<br><br>
                        These records help build confidence and security in the community.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="spacebox70"> </div>
                    <%= image_tag("landing2.png", :alt => "rss feed", class: "img-responsive") %>
                </div>
            </div>

        </div>
    </div>

    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Ask Experts to check if some cards are counterfeits</h3>
                    <p class="lead">
                        We have built an additional community check system, in which you can contact Experts to check either the real card or sometimes HD pictures of it and try to detect counterfeits.<br><br>
                        Having an Expert validation of your cards does not fully guarantee they are genuine, but adds a layer of trust and protection of your assets.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="spacebox70"> </div>
                    <%= image_tag("landing3.png", :alt => "rss feed", class: "img-responsive") %>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-d">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Insure your cards</h3>
                    <p class="lead">
                        We are working with insurance companies to help users to insure the cards recorded in Vaultarch against theft or destruction. An accurate record of the valuable cards in the collection will allow the insurance company to price the insurance correctly. If the worst happens and the cards are lost, then their fate can be marked in the database to alert the owner and the authorities if the cards do surface. <br><br>
                        This service is not operational yet, stay tuned!
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="spacebox70"> </div>
                    <%= image_tag("landing4.png", :alt => "rss feed", class: "img-responsive") %>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-e">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">More Information</h3>
                    <p class="lead">
                        We are currently in Closed Beta phase, with only a certain number of invite codes activated. <br><br>
                        You can get an invite code by contacting us or if a user of the service transfers you ownership of a card.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="spacebox80"> </div>
                    <a href="/information" type="button" class="btn btn-success btn-purple btn-lg btn-block">Info page</a>
                    <a href="mailto:info@vaultarch.com" type="button" class="btn btn-success btn-purple btn-lg btn-block">Send us an E-mail</a>
                    <a href="http://eepurl.com/bRly3f" target="_blank" type="button"  class="btn btn-success btn-purple btn-lg btn-block">Subscribe to the Newsletter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-e">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Support the Project</h3>
                    <p class="lead">
                        We are currently in Closed Beta phase, and we want to keep the service free during Beta.<br><br>
                        You can donate to support the team efforts if you feel like it and enjoy the service.
                    </p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="SXD2FPQL4NGFS">
                            <table>
                            <tr><td><input type="hidden" name="on0" value="Select an amount">Select an amount</td></tr><tr><td><select name="os0">
                                <option value="Very nice... I support it!">Very nice... I support it! $20.00 HKD</option>
                                <option value="I like that a lot!">I like that a lot! $100.00 HKD</option>
                                <option value="Fantastic! I love it!">Fantastic! I love it! $200.00 HKD</option>
                            </select> </td></tr>
                            </table>
                            <input type="hidden" name="currency_code" value="HKD">
                            <input type="image" src="https://d22fscxn6glg2j.cloudfront.net/DonateButton.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="spacebox70"> </div>
    
