<section class="cd-faq">
  <ul class="cd-faq-categories">
    <li><a class="selected" href="#collect">What we collect?</a></li>
    <li><a class="selected" href="#dontwant">What we dont store?</a></li>
  </ul> <!-- cd-faq-categories -->

  <div class="cd-faq-items">
    <ul id="collect" class="cd-faq-group">
      <li class="cd-faq-title"><h2>What information do we collect and store?</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Your IP address</a>
        <div class="cd-faq-content">
          <p>
            This is the stuff that goes with any standard server on the interwebz. We do not keep this for more than 1 week (sometimes even less). However, our upstream provider may also log this information too. In future you will be able to opt-out of all of this completely so that your anonymity is guaranteed.
          </p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Your name and email address</a>
        <div class="cd-faq-content">
          <p>
            This is not disclosed with any user. However, your email address and name may be disclosed when doing card trades. We will be striving to make it more anonymous (and in a safe way)
          </p>
        </div> <!-- cd-faq-content -->
      </li>
    </ul> <!-- cd-faq-group -->

    <ul id="dontwant" class="cd-faq-group">
      <li class="cd-faq-title"><h2>What information do we don't store?</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Payment token information</a>
        <div class="cd-faq-content">
          <p>
            We do not store any payment token information other than record the fact that you have paid us.
          </p>
        </div> <!-- cd-faq-content -->
      </li>
    </ul> <!-- cd-faq-group -->

  </div> <!-- cd-faq-items -->
  <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->

<%= javascript_include_tag "jquery-2.1.1" %>
<%= javascript_include_tag "jquery.mobile.custom.min" %>
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "modernizr" %>
