<div class="row">
  <div class="col-xs-12 text-center">
    <h3>Expert List</h3>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <% if @experts.count > 0 %>
      <%= will_paginate @experts %>
      <ul>
        <% @experts.each do |user| %>

          <div class="panel panel-default panel-expert">
            <div class="panel-heading" role="tab" id="headingOne">
              <h3 class="panel-title">
                  <%= user[:name]%>
              </h3>
            </div>
              <div class="panel-body">
                <div class="col-xs-6">
                <h4>Contact</h4>
                <p>
                  <%= user[:expert_contact_info]%>
                </p>
                </div>
                <div class="col-xs-6">
                <h4>Location</h4>
                <p>
                  <a href="http://www.openstreetmap.org/search?query=#{user[:coordinates][1]}%2C%20#{user[:coordinates][0]}#map=16/#{user[:coordinates][1]}/#{user[:coordinates][0]}" target="showmap"> <%= user[:expert_location_info]%> </a>
                </p>
                </div>
              </div>
          </div>       
        <% end %>
      </ul>
    <% else %>
      <p>No Experts found</p>
    <% end %>
  </div>
</div>