<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Expert List</h2>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
    <% if @experts.count > 0 %>
      <%= will_paginate @experts %>
      <ul>
        <% @experts.each do |user| %>
          <li><%= user[:name]%></li>
          <ul>
            <li><%= user[:expert_contact_info]%></li>
            <li><a href="http://www.openstreetmap.org/search?query=#{user[:coordinates][1]}%2C%20#{user[:coordinates][0]}#map=16/#{user[:coordinates][1]}/#{user[:coordinates][0]}" target="showmap"> <%= user[:expert_location_info]%> </a></li>
          </ul>
        <% end %>
      </ul>
    <% else %>
      <p>No Experts found</p>
    <% end %>
  </div>
</div>