.row
	%h3.panel-title Please Sign up
	%br
	%input.form-control{:placeholder => "Name", :type => "name", :style => "width: 250px; "}
	%br
	%input.form-control{:placeholder => "Email", :type => "text", :style => "width: 250px; "}
	%br
	%input.form-control{:placeholder => "Password", :type => "password", :style => "width: 250px; "}
	%br
	.row
		=link_to "Submit", cards_new_path, class: 'btn btn-primary btn-landing'
%br
