%h3 future Owner
%input.form-control{:placeholder => "Email", style: "width: 150px;", :type => "email"}
%br
%input.form-control{:placeholder => "Name", style: "width: 150px;", :type => "name"}
.top-buffer
=link_to "Transfer", cards_transferred_path, class: "btn btn-primary btn-purple"