%p
-if @cardnote.length == 0 then
	No notes on this card found
-else
	.table-responsive
		%table{width: "100%"}
			%tbody
			-@cardnote.each do |cardnote|
				%tr
					%th Card Note Time:
					%td= "#{Time.at(cardnote.create_date).in_time_zone(@timezone).strftime "%a, %e %b %Y %H:%M:%S %z"}"
				%tr
					%th Card Note:
					%td= "#{cardnote.text}"
				%br
