%p
-if @cardnote.length == 0 then
  No notes on this card found
-else
  -@cardnote.each do |cardnote|
    %br
    #{Time.at(cardnote.create_date).in_time_zone(@timezone).strftime "%a, %e %b %Y %H:%M:%S %z"}
    %br
    #{cardnote.text}
    %br
