.row
	.col-lg-4.col-md-4.col-lg-offset-4.col-md-offset-4
		%h2{style:"color:#5f3d72"} The Graveyard 👻💀

.row.top-buffer
	.col-lg-4.col-md-4.col-lg-offset-4.col-md-offset-4
		%p List of all the cards that was deleted
.row.top-buffer
	.col-lg-4.col-md-4.col-lg-offset-4.col-md-offset-4
		-if @cards.count > 0
			%ul
				-@cards.each do |card|
					%li #{card[:cardname]} [<a href="/cards/undelete/#{card[:_id].to_s}">Resurrect</a>]
		-else
			%p No cards in the "Graveyard"
