.col-sm-6
	.h1 Andrew
.col-sm-6
	.btn.btn-primary.btn-landing Add A Card
%br
%br
%br
%br
.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						%th= image_tag('front.jpg', width: "200")
						%th= image_tag('back.jpg', width: "200")
						%th{colspan:'2'}
	.col-sm-6
		.h2 Legendary Creature - Hydra Avatar
		%br
		.btn.btn-primary.my-btn Details	

%br
%br
.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						%th= image_tag('front_1.jpg', width: "200")
						%th= image_tag('back_1.jpg', width: "200")
						%th{colspan:'2'}
	.col-sm-6
		.h2 Creature - Hydra
		%br
		.btn.btn-primary.my-btn Details				
