/ .row
/ 	.col-lg-6.col-md-12
/ 		%h5 My Cards
/ 	.col-lg-6.col-md-12.text-center
/ 		%form{method: 'get'}
/ 			%input{name: "search_text", size: "40", type: "text", value: @query}
/ 			%input{type: "submit", value: "Search", class: "btn btn-success btn-purple"}
.row
	.col-lg-3.col-md-4.col-xs-6.thumb
		%a.thumbnail{:href => '/cards/new'}
			.row
				%i.glyphicon.glyphicon-plus
			.row
				.h3 Add Card
	-@cards_and_images.each do |card, cardimage|
		.col-lg-3.col-md-4.col-xs-6.thumb
			%a.thumbnail{:href => "/cards/detail/#{card.id}"}
				-if cardimage.image_type == "front" then
					%img.img-responsive{:src => "#{cardimage.photo.thumb.url}"}