-if @listincoming > 0
  .row
    .col-lg-6.col-md-12
      %p You have <a href="/cards/transfer/incoming">incoming transfers</a> to accept
.row#static-pagination
  .col-lg-6.col-md-6.col-sm-12
    = will_paginate @cards

  .col-lg-6.col-md-6.col-sm-12.search
    %form.pull-right{method: 'get'}
      %input{name: "search_text", size: "30%", type: "text", value: @query}
      %input{type: "submit", value: "Search", class: "btn btn-success btn-purple"}

.row.top-buffer
  .col-lg-3.col-md-4.col-xs-6.thumb
    %a.thumbnail{:href => '/cards/new'}
      .row
        %i.glyphicon.glyphicon-plus
      .row
        .h3 Add Card
  
  #my-cards
    .page-delimiter.first-page{"data-page" => params[:page] || 1}
    =render partial: 'card', collection: @cards

- if @cards.next_page
  #infinite-scrolling
    = will_paginate
