=javascript_include_tag "modernizr.custom"

-if @listincoming > 0
  .row
    .alert.alert-info.alert-dismissible
      %p You have <a href="/cards/transfer/incoming">incoming transfers</a> to accept
      %br
      %a{"data-dismiss" => "alert", :href => "#0"} Hide

-if params[:search_text]
  -if params[:search_text].length > 1 and @cards.length == 0 then
    .row
      .alert.alert-warning.alert-dismissible
        %p #{I18n.t('nosearchresults')}
        %br
        %a{"data-dismiss" => "alert", :href => "#0"} Dismiss

  .col-lg-6.col-md-6.col-sm-12
    = will_paginate @cards

.row.top-buffer#og-grid
  .col-lg-3.col-md-4.col-xs-6.thumb
    %a.thumbnail{:href => '/cards/new'}
      .row
        %i.glyphicon.glyphicon-plus
      .row
        .h3 Add Card

  #my-cards
    .page-delimiter.first-page{"data-page" => params[:page] || 1}
    =render partial: 'card', collection: @cards

- if @cards.next_page
  #infinite-scrolling
    = will_paginate

=javascript_include_tag "grid"
:javascript
  $(function() {
    Grid.init();
  });

