.row
	.col-lg-6.col-md-12
		.h1 My Cards
	.col-lg-6.col-md-12
		%form{ method: "get" }
			%input{name: "search_text", size: "30", type: "text", value: @query}
			%input{type: "submit", value: "Search"}

.row
	.col-lg-3.col-md-6.col-sm-6.thumbnail.frame
		.inner_frame
			.row
				%a{ href: '/cards/new', class: "plus"}
					%i.glyphicon.glyphicon-plus.plus-icon
			.row.add_card
				.h2 Add Card
	-@cards.each do |card|
		.col-lg-3.col-md-6.col-sm-6.thumbnail.frame
			%a{:href => "/cards/detail/#{card.id}"}
				-@cardimages.each do |cardimage|
					-if cardimage.card_id == card.id
						-if cardimage.image_type == "front" then
							%img{:src => "#{cardimage.photo.thumb.url}", :onclick=>"/cards/detail/#{card.id}", class: "img-responsive"}

.row
	.col-sm-6

	.col-sm-6
