%br
%br
.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						.jumbotron.cardupload
							.btn.btn-primary.btn-landing.btn_up Upload Picture
							.btn.btn-primary.btn-landing.btn_up Phone Library
	.col-sm-6
		%br
		%br
		%br
		%br
		%br
		%br
		%input.form-control{:placeholder => "Edit Name of Card", :type => "name"}
		%br
		%input.form-control{:placeholder => "Edit Game", :type => "game"}
		%br
		%input.form-control{:placeholder => "Edit Collection", :type => "collection"}
.row.validate_btn
	<div id="btn.btn-primary.btn-landing.btn_up" onClick="document.location.href='/cards/detail';">
	.btn.btn-primary.btn-landing.btn_up Validate
	</div>

%br
%br
%br
%br
