var delimiter =
        $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
$('#is-cards').append(delimiter);
$('#is-cards').append('<%= j render @cards_and_images } %>');
$('.pagination').replaceWith('<%= j will_paginate @cards_and_images %>');
preparePagination(delimiter);
<% unless @cards_and_images.next_page %>
$('#infinite-scrolling .pagination').remove();
<% end %>