// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row .btn-purple{
	color: white;
	border-color: #5f3d72;
	background-color:  #5f3d72;
}
.row .btn-purple:hover,
.row .btn-purple:focus,
.row .btn-purple:active {
  color: white;
  background-color: #553666;
  border-color: #5f3d72;
}

.top-buffer { margin-top: 40px; }

.thumb {
    margin-bottom: 30px;
}

.thumbnail .row{
	color: #5f3d72;
	text-align: center;
	width: 228px;
	height: 150px;
}

.row .thumbnail .glyphicon{
	top: 60px;
	font-size: 50px;
}

.thumbnail .row .h3{
	margin-bottom: 80px;
	margin-top: 80px;
}

.search{
  margin-top: 20px;
  margin-bottom: 10px;
}

.popover{
	width: 100%;
}

.btn-upload{
	width: 220px;
}

.detail{
	margin-bottm: 100px;
}
