.devise_form{
	padding-top: 30px;
	text-align: center;
}

.btn-devise{
	width: 100%;
}

.devise_form a {
  color: #5f3d72;
  text-decoration: none;
}

.devise_form a:hover,
.devise_form a:focus {
  color: #553666;
  text-decoration: underline;
}

.table-custom{
	margin-top: 0px;
}

#user_expert_contact_info {
  height: 100px;
}
