// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 100px;
}

.signup{
  text-align: center;
}

.cardupload{
  padding-top: 400px;
}

.cardupload .btn_up{
  position: relative;
}

.validate_btn {
    text-align: center;
}

.tracking {
  padding-left: 60px;
}

.image-container	{
	text-align: center;
}

.navbar{
	background-color: #440e62;
}

.navbar-brand
{
    padding-top: 15px;
    padding-bottom: 0;
}

.authenticated{
  padding-top: 20px;
}

.btn-landing{
  color: white;
  background-color: #440e62;
  border-color: #440e62;
}
.btn-landing:hover,
.btn-landing:focus,
.btn-landing:active,
.btn-landing.active {
  background-color: #440e62;
  border-color: #440e62;
}
.btn-landing.disabled:hover,
.btn-landing.disabled:focus,
.btn-landing.disabled:active,
.btn-landing.disabled.active,
.btn-landing[disabled]:hover,
.btn-landing[disabled]:focus,
.btn-landing[disabled]:active,
.btn-landing[disabled].active,
fieldset[disabled] .my-btn:hover,
fieldset[disabled] .my-btn:focus,
fieldset[disabled] .my-btn:active,
fieldset[disabled] .my-btn.active {
  background-color: white;
  border-color: #440e62;
}

.my-btn {
  color: #440e62;
  background-color: white;
  border-color: #440e62;
}
.my-btn:hover,
.my-btn:focus,
.my-btn:active,
.my-btn.active {
  background-color: #440e62;
  border-color: #440e62;
}
.my-btn.disabled:hover,
.my-btn.disabled:focus,
.my-btn.disabled:active,
.my-btn.disabled.active,
.my-btn[disabled]:hover,
.my-btn[disabled]:focus,
.my-btn[disabled]:active,
.my-btn[disabled].active,
fieldset[disabled] .my-btn:hover,
fieldset[disabled] .my-btn:focus,
fieldset[disabled] .my-btn:active,
fieldset[disabled] .my-btn.active {
  background-color: white;
  border-color: #440e62;
}