// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 100px;
}

.footer{
  margin-left: 65px;
}

.navbar-custom {
  background-color: #5f3d72;
}

.navbar-logo
{
  margin-top: 0px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 0;
}

.navbar-toggle{
  margin-top: 20px;
}

.authentication {
  margin-top: 0px;
  padding-right: 50px;
}

.btn-authentication {
  color: white;
  background-color: #5f3d72;
  border-color: #5f3d72;
}
.btn-authentication:hover,
.btn-authentication:focus,
.btn-authentication:active {
  color: white;
  background-color: rgba(0,0,0,0.2);
  border-color: #5f3d72;
}
