// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  padding-top: 42px;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -25px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


.footer{
  height: 25px;
  color: white;
  background-color: #5f3d72;
}

.navbar-custom {
  background-color: #5f3d72;
  border-color: #5f3d72;
  margin-bottom: -20px;
  height: 42px
}

.navbar-logo
{
  margin-top: 0px;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 0;
  /* width: 50; */
}

.navbar-toggle{
  margin-top: 20px;
}

.authentication {
  margin-top: 0px;
  padding-right: 50px;
}

.btn-authentication, .btn-purple {
  color: white;
  background-color: #5f3d72;
  border-color: #5f3d72;
}
.btn-authentication:hover,
.btn-authentication:focus,
.btn-authentication:active {
  color: white;
  background-color: rgba(0,0,0,0.2);
  border-color: #5f3d72;
}

.btn-purple:hover,
.btn-purple:focus, 
.btn-purple:active {
  color: white;
  background-color: #553666;
  border-color: #5f3d72;
}
