.row
.col-lg-6.col-md-6
  %h2{style:"color:#5f3d72"} Transfer card

.row.top-buffer
.col-lg-6.col-md-6
  %p The card is now on its way to the recipient pending their approval to include it in their collection.
  %p If this is a mistake, you can still undo this (but only before they have accepted)
  %p For support purposes, please quote transfer ID <strong>#{@transfer_id}</strong> with any enquiries
