<ul class="nav navbar-nav navbar-right authentication">
	<li>
		<a href="<% if current_user.accounttype == 'vendor' then %>/vendor<% elsif current_user.accounttype == 'admin' then %>/admin<% elsif current_user.accounttype == 'expert' then %>/expert<% else %>/<% end %>">
			<button class="btn btn-success btn-authentication"> 
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				&nbsp;
				<%=I18n.t(current_user.accounttype.to_s).capitalize %>
			</button>
		</a>
	</li>
	<li>
		<a href="/settings">  
			<button class="btn btn-success btn-authentication">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				&nbsp;
				<%= t('settings') %>
			</button>
		</a>
	</li>
  <li>
  	<a href="/logout"> 
  		<button class="btn btn-success btn-authentication"> 
  			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				&nbsp;
  			<%= t('logout') %>
  		</button>
  	</a>
  </li>
</ul><!-- /.nav-collapse -->
