<footer class="footer">
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<ul class="list-unstyled">
				<li><a href="#"> Contact and Careers </a></li>
				<li><a href="#"> FAQ </a></li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<ul class="list-unstyled">
				<li><a href="#"> Legal </a></li>
				<li><a href="#"> Expert List </a></li>
			</ul>
		</div>
	</div>
</footer>
