<footer class="footer only-footer">
	<div class="container footer-a">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<ul class="list-unstyled">
				<li><a href='/contact_careers'> Contact and Careers </a></li>
				<li><a href="#"> FAQ </a></li>
				<li><a href="https://medium.com/@VaultArch"> Blog</li>
				<li> &nbsp; </li>
				<li>Made with ❤ in Hong Kong︎</li>				
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<ul class="list-unstyled">
				<li><a href="#"> Legal </a></li>
				<li><a href="#"> Expert List </a></li>
			</ul>
		</div>
	</div>
</footer>
