<footer class="footer">
	<div class="container">
		<!-- <div class="navbar navbar-fixed-bottom"> -->
	  	<p>&copy; Vaultarch 2016. All card images are not the property of Vaultarch Ltd.</p>
	  <!-- </div> -->
	</div>
</footer>
