<footer class="footer">
	<div class="container">
		<!-- <div class="navbar navbar-fixed-bottom"> -->
	  	<p>&copy; Vaultarch 2016. All Card images are not the propoerty of Vaultarch.</p>
	  <!-- </div> -->
	</div>
</footer>
