<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/contact_careers#FAQ">FAQ</a></li>
        <li><a href="/contact_careers#Legal">Legal</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/contact_careers#Contact">Contact</a></li>
        <li><a href="/contact_careers#Careers">Careers</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/register">
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
        &nbsp;
        Signup
      </a>
    </li>
    <li>
      <a href="/login">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        &nbsp;
        Login
      </a>
    </li> 
  </ul>
</div><!-- /.navbar-collapse -->