<ul class="nav navbar-nav navbar-right authentication">
  <li>
  	<a href="/register">
  		<button class="btn btn-authentication">
  			<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
				&nbsp;
  			<%= t('register') %>
  		</button>
  	</a>
  </li>
  <li>
  	<a href="/login"> 
  		<button class="btn btn-authentication">
  			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				&nbsp;
  			<%= t('login') %>
  		</button>
  	</a>
  </li>
</ul>
