<ul class="nav navbar-nav navbar-right authentication">
  <li><a href="/register"> <button class="btn btn-authentication"> <%= t('register') %></button></a></li>
  <li><a href="/login"> <button class="btn btn-authentication"> <%= t('login') %></button></a></li>
</ul>
