<ul class="nav navbar-nav navbar-right authentication">
  <li><a href="/register"> <button class="btn btn-authentication"> Sign Up </button></a></li>
  <li><a href="/login"> <button class="btn btn-authentication"> Login </button></a></li>
</ul>